<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>WebsiteBanHangNhom42</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>nguoidungServlet</display-name>
    <servlet-name>nguoidungServlet</servlet-name>
    <servlet-class>controller.nguoidungServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>nguoidungServlet</servlet-name>
    <url-pattern>/nguoidungServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sanphamServlet</display-name>
    <servlet-name>sanphamServlet</servlet-name>
    <servlet-class>controller.sanphamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sanphamcontroller</servlet-name>
    <url-pattern>/sanphamcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>danhmucServlet</display-name>
    <servlet-name>danhmucServlet</servlet-name>
    <servlet-class>controller.danhmucServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>danhmucServlet</servlet-name>
    <url-pattern>/danhmucServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>donhangServlet</display-name>
    <servlet-name>donhangServlet</servlet-name>
    <servlet-class>controller.donhangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>donhangServlet</servlet-name>
    <url-pattern>/donhangServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>giohangServlet</display-name>
    <servlet-name>giohangServlet</servlet-name>
    <servlet-class>controller.giohangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>giohangServlet</servlet-name>
    <url-pattern>/giohangServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>thanhtoanServlet</display-name>
    <servlet-name>thanhtoanServlet</servlet-name>
    <servlet-class>controller.thanhtoanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>thanhtoanServlet</servlet-name>
    <url-pattern>/thanhtoanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>chitietdonhangServlet</display-name>
    <servlet-name>chitietdonhangServlet</servlet-name>
    <servlet-class>controller.chitietdonhangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chitietdonhangServlet</servlet-name>
    <url-pattern>/chitietdonhangServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>chitietgiohangServlet</display-name>
    <servlet-name>chitietgiohangServlet</servlet-name>
    <servlet-class>controller.chitietgiohangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chitietgiohangServlet</servlet-name>
    <url-pattern>/chitietgiohangServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>danhgiasanphamServlet</display-name>
    <servlet-name>danhgiasanphamServlet</servlet-name>
    <servlet-class>controller.danhgiasanphamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>danhgiasanphamServlet</servlet-name>
    <url-pattern>/danhgiasanphamServlet</url-pattern>
  </servlet-mapping>
</web-app>